<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% htmlWebpackPlugin.files.js.forEach(jsFile => { %>
    <link rel="preload" href="<%= jsFile %>" as="script"> <!-- preload the scripts -->
  <% }) %>
  <title>Web commander</title>
</head>
<body>
  <div id="app"></div>
  <% htmlWebpackPlugin.files.js.forEach(jsFile => { %>
    <script src="<%= jsFile %>"></script>
  <% }) %>
  <%if (!htmlWebpackPlugin.options.production) { %>
    <script src="http://localhost:35729/livereload.js" defer></script>
  <% } %>
</body>
</html>